body{
    background-color: #00bfe4;
}

#headline
{
    margin-bottom: 30px;
    font-size:30px;
    font-weight: 900;
}

#wrapper{
    width:900px;
    margin: 50px auto 50px auto;
    text-align: center;
    color:white;
    font-family: "Nunito", sans-serif;
    font-weight: 400;
}



#other{
    width:600px;
    margin-left:auto;
    margin-right:auto;
    margin-bottom:0px;
    border-radius:40px;
    background-color:white;
    color:black;
}

#other ::-webkit-input-placeholder{
    color:black;
    text-align:center;
}

        #other .select2{
            width:500px;
            border:none;
        }

            #other #fridge_select_07 + .select2 .select2-selection, #select2-fridge_select_07-results{
                background-color: #ffffff !important;
                color:black !important;
            }



#fridge_wrapper{
    margin-top: 20px;
}
    #fridge_wrapper #fridge_contents
    {
        margin-left: auto;
        margin-right: auto;
        width:640px;
        background-color:white;
        -webkit-border-radius:20px;
        margin-bottom: 50px;
        padding-top:25px;
        padding-bottom: 25px;
        color:white;
    }

        #fridge_wrapper #fridge_contents .fridge_content
        {
            width:600px;
            margin-bottom:30px;
            margin-left:auto;
            margin-right:auto;
            color:white;
            border-radius: 8px;
            height:auto;
        }

        #fridge_wrapper #fridge_contents ::-webkit-input-placeholder{
            color:white;
            text-align:center;
        }

        #fridge_wrapper #fridge_contents #meats
        {
            border:8px solid #f9a5cd !important;
        }

        #fridge_wrapper #fridge_contents #vegetables
        {
            border:8px solid #7cf790 !important;
        }
        #fridge_wrapper #fridge_contents #fish
        {
            border:8px solid #5be2f4 !important;
        }
        #fridge_wrapper #fridge_contents #dairy
        {
            border:8px solid #f7e07c !important;
        }
        #fridge_wrapper #fridge_contents #liquids
        {
            border:8px solid #f792f7 !important;
        }
        #fridge_wrapper #fridge_contents #fruits
        {
            border:8px solid #f9ac95 !important;
        }

        #fridge_select_00 + .select2 .select2-selection, #select2-fridge_select_00-results{
            background-color: #f26179 !important;
            color:white !important;
        }

        #fridge_select_02 + .select2 .select2-selection, #select2-fridge_select_02-results{
            background-color: #35d375 !important;
            color:white !important;
        }

        #fridge_select_03 + .select2 .select2-selection, #select2-fridge_select_03-results{
            background-color: #00bfe4 !important;
            color:white !important;
        }

        #fridge_select_04 + .select2 .select2-selection, #select2-fridge_select_04-results{
            background-color: #f2c60f !important;
            color:white !important;
        }

        #fridge_select_05 + .select2 .select2-selection, #select2-fridge_select_05-results{
            background-color: #a747c6 !important;
            color:white !important;
        }

        #fridge_select_06 + .select2 .select2-selection, #select2-fridge_select_06-results{
            background-color: #f47a00 !important;
            color:white !important;
        }

.select2-results {
    color:white !important;
    font-family: "Nunito", sans-serif !important;
    font-weight:900 !important;
}

.select2-selection{
    height: auto !important;
    border:none !important;
    border-radius:0px !important;
    font-weight: 900 !important;
    font-size: 26pt !important;
}

.select2-search{
    border:none !important;
}

.select2-chosen{
    color:#fff !important;
}

#search{
    font-weight:bolder;
    font-size: 40px;
    color: #00bfe4;
}
    #search button{
        background-color: white;
        border: none;
        border-radius:10px;
        padding: 3px 30px;
        font-weight: 900;
    }

    #search button:hover{
        background-color: #dddddd;
        vertical-align:center;
    }


