body{
    background-color: #00bfe4;
}


#wrapper{
    width:900px;
    margin-left: auto;
    margin-right: auto;
    margin-top: 50px;
    text-align: center;
    color:white;
    font-family: "Nunito", sans-serif;
    font-weight: 400;
}

    #wrapper #search{
        font-weight:bolder;
        font-size: 25px;
        color: #00bfe4;
    }
        #wrapper #search button{
            background-color: white;
            border: none;
            border-radius:10px;
            padding: 3px 30px;
            font-weight: 900;
        }

        #wrapper #search button:hover{
            background-color: #dddddd;
            vertical-align:center;
        }

#fridge_wrapper{
    margin-top: 50px;
}
    #fridge_wrapper #fridge_contents
    {
        margin-left: auto;
        margin-right: auto;
        width:640px;
        margin-bottom: 50px;
        background-color:white;
        -webkit-border-radius:20px;
        padding-top:50px;
        padding-bottom: 50px;

    }
        #fridge_wrapper #fridge_contents .fridge_content
        {
            width:600px;
            margin-bottom:30px;
            margin-left:auto;
            margin-right:auto;
            border:8px solid #f9a5cd;
            border-radius: 8px;
        }

        #fridge_wrapper #fridge_contents select2
        {
            background-color:#f26179;
            font-size: 36pt;
            font-weight: 900;
            text-align: center;
            color: white;
            height:110px;
            border: none;
        }


