body{
    background: #00bfe4;
    font-family: 'Nunito', sans-serif;
}

#wrapper{
    width: 1200px;
    margin-left:auto;
    margin-right: auto;
}
    #wrapper #title{
        background: #00bfe4 url("../MyFridge_B.png") no-repeat center;
        height: 300px;
        margin-top: -10px;
    }

    #wrapper #quote{
        margin-top: 12px;
    }

        #wrapper #quote h1{
            color: white;
            font-size: 32.5pt;
            font-weight: 900;
            text-align: center;
        }

    #wrapper #button {
        text-align:center;
        margin-top: 66px;
    }

        #wrapper button{
            color: #00bfe4;
            background-color: white;
            font-size: 28.5pt;
            font-weight: 900;
            padding: 3px 40px 3px 40px;
            border:none;
            border-radius: 10px;
        }

    #wrapper #steps {
        margin-top: 80px;
        text-align: center;
        color: white;
        margin-left:auto;
        margin-right: auto;
    }

        #wrapper #steps h1{
            font-size: 23pt;
            margin-bottom: 60px;
        }

    #wrapper #steps .step{
        display: inline-block;
        float: left;
        width: 33.3%;
    }

        #wrapper #steps .step h2{
            font-size: 28pt;
            margin-bottom: 6px;
        }

        #wrapper #steps .step p{
            font-size: 14pt;
        }


